.list {
	display: flex;
	flex-direction: column;
	position: relative;
	.block {
		@apply rounded mb-3 p-4 relative flex items-center justify-between text-sm;
		@media (max-width: 400px) {
			width: 80vw;
		}
		&:active,
		&:hover {
			.grip {
				@apply opacity-100;
			}
		}
	}
}

.grip {
	@apply opacity-25 transition-opacity -ml-1 mr-0.5;

	&:hover,
	&:active {
		.grip {
			@apply opacity-100;
		}
	}
}
